# Ignore node_modules directory
node_modules/

# Ignore build output
build/
dist/

# Ignore environment files
.env
.env.local
.env.development
.env.test
.env.production

# Ignore log files
*.log

# Ignore dependencies installed by npm
package-lock.json
yarn.lock

# Ignore IDE files
.vscode/
.idea/

# Ignore macOS specific files
.DS_Store

# Ignore npm debug log
npm-debug.log*

# Ignore yarn error log
yarn-error.log
